body {
  margin: 2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249, 242, 234);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightblue;
  padding: 9px;
}

nav input{
  width: 250px;
  text-decoration: none;
  padding: 9px;
  font-size: 18px;
  border: none;
}

.searchBar{
  display: flex;
  align-items: center;
  gap: 11px;
}

nav button{
  width: 70px;
  height: 38px;
  background-color: blue;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

nav ul{
  display: flex;
  gap: 11 px;
}

.cardContainer{
  display: flex;
  justify-content:center;
  gap: 41px;
  flex-wrap: wrap;
}

.card{
  width: 320px;
  box-shadow: 3px 4px 4px 4px rgb(255,255,255);
  background-color: rgb(226, 245, 249);
  border-radius: 9px;
  margin-top: 21px;
  border: 1px solid rgb(255, 255, 255);
}

.card img{
  width: 100%;
  height: 180px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.title{
  font-weight: 600;
  font-size: 18px;
  margin-top: 7px;
}

.title:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}

.Content{
  padding: 9px;
}

.card button{
  background-color: rgb(29, 162, 214);
  border: none;
  cursor: pointer;
  width: 80px;
  height: 28px;
  color: white;
  font-size: 13px;
  border-radius: 2px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.categoryBtn{
  display: flex;
  justify-content: center;
  gap: 11px;
}

.categoryBtn button{
  gap: 11px;
  width: 130px;
  height: 33px;
  background-color: rgb(255,108,108);
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  padding: 2px;
}

.head{
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}

.app-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}